.header-wrapper {
	background-color: #020204;
	overflow: hidden;
	box-shadow: 0px 3px 1px 0px;
	margin-bottom: 2px;
}

.nav-item.dropdown.button {
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 0px 20px;
	margin: 0px 10px 0;
}

.nav-link {
	color: #fff;
}

.nav-link.active {
	color: #2fcb70;
	font-weight: 600;
}

.nav-link:hover{
	color: #2fcb70;
}

.navbar.navbar-expand-lg {
	justify-content: end;
}

.header-slider {
	overflow: hidden;
}

.slider-content h4 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
}

.slider-content h1 {
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 700;
}

.slider-content{
	margin-bottom: 300px;
}

.green-line {
	background-color: #2eca72;
	width: 100px;
	height: 3px;
	margin: 10px 0 25px;
}

.upcoming-wrapper {
	margin-top: 70px;
}

.upcoming-content h2 {
	text-transform: uppercase;
	font-weight: 600;
}

.upcoming-images img{
	width: 100%;
}

.upcoming-images {
	text-align: center;
}

.upcoming-images h4 {
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 20px;
}

.about-wrapper {
	background-color: #f7f7f7;
	margin-top: 70px;
}

.about-content {
	padding-top: 150px;
}

.about-content h1 {
	text-transform: uppercase;
}

.about-content ul {
	margin: 0;
	padding: 0;
}

.about-content ul li {
	list-style-type: none;
	margin-bottom: 15px;
}

.about-content a {
	background-color: #2eca72;
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	margin-top: 10px;
	display: inline-block;
	font-size: 15px;
}

.gallery-title {
	text-align: center;
	margin-top: 70px;
}

.gallery-line {
	background-color: #2eca72;
	width: 100px;
	height: 3px;
	margin: 0 auto;
}

.gallery-title h2 {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 9px;
}

.gallery-title p {
	margin-top: 20px;
	margin-bottom: 40px;
}

.gallery-four img {
	width: 100%;
	margin-bottom: 20px;
}

.gallery-2 img {
	width: 100%;
}

.gallery-2 {
	margin-bottom: 50px;
}

.view-btn {
	background-color: #2eca72;
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	font-size: 15px;
	margin: 0 auto;
	width: 150px;
	text-align: center;
}

.blogs-wrapper {
	background-image: url(../images/counter_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	padding: 80px 0;
	margin-top: 70px;
}

.blog-awards {
	color: #fff;
}

.blog-awards h1 {
	font-weight: 700;
	margin: 0;
}

.blog-awards p {
	margin: 0;
}

.oursports-wrapper {
	margin-top: 70px;
}

.oursports-content h2 {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 9px;
}

.oursports-content{
	text-align: center;
}

.oursports-content p {
	margin-top: 20px;
	margin-bottom: 40px;
}

.sport-bottom-line {
	border-bottom: 2px solid #efefef;
	margin-bottom: 20px;
}

.sport-images h3 {
	font-size: 15px;
	font-weight: 700;
	color: #000;
	text-align: center;
	margin: 10px 0 30px;
	text-transform: uppercase;
}

.button-sport {
	text-align: center;
	margin-top: 40px;
}

a:hover {
	color: #fff;
}

.upcoming-content {
	text-align: center;
	margin-top: 70px;
}

.upcoming-content h2 {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 9px;
}

.upcoming-content p {
	margin-top: 20px;
	margin-bottom: 40px;
}

.upcoming-back{
	background-color: #fff;
}

.upcoming-back {
	background-color: #fff;
	padding: 30px 40px;
}

.games-content {
	text-align: center;
	  margin-bottom: 25px;
}

.games-content p {
	margin: 0;
	font-weight: 600;
	color: #777;
}

.games-content h3 {
	font-weight: 600;
	font-size: 25px;
	text-transform: uppercase;
	margin: 5px 0;
}

.upco-vs {
	text-align: center;
	margin-top: 40px;
}

.upco-vs h3 {
	background-color: #fedb06;
	border-radius: 50%;
	display: inline;
	padding: 10px 10px;
	font-size: 17px;
	text-align: center;
	margin: 0 auto;
	font-weight: 600;
	position: relative;
}

.upco-vs h3::after {
	content: "";
	top: 20px;
	left: -110px;
	position: absolute;
	width: 80px;
	height: 1.5px;
	background-color: #eeeeee;
	right: 0;
}

.upco-vs h3::before {
	content: "";
	top: 20px;
	position: absolute;
	width: 80px;
	height: 1.5px;
	background-color: #eeeeee;
	right: -110px;
}

.upco-img h4 {
	color: #777;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	margin-top: 10px;
}

.upco-img {
	text-align: center;
}

.upcoming-wrapper2{
	background-color: #f7f7f7;
	margin-top: 70px;
	  padding-bottom: 70px;
}

.buy-ticket-btn{
	text-align: center;
	margin-top: -15px;
}

.buy-ticket-btn a {
	background-color: #2eca72;
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	font-size: 15px;
	margin: 0 auto;
	width: 150px;
	text-align: center;
}

.letestblog-wrapper {
	margin: 80px 0;
}

.letest-content{
	text-align: center;
}

.letest-content h2 {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 9px;
}

.letest-content p {
	margin-top: 20px;
	margin-bottom: 40px;
}

.letestblog-image {
	border: 1px solid #e4e4e4;
	border-radius: 5px;
}

.letestblog-image img {
	width: 100%;
}

.letestblog-heading {
	padding: 20px 20px 0 20px;
	border-bottom: 1px solid #e4e4e4;
}

.letestblog-heading span {
	font-weight: 600;
	color: #adadad;
}

.letestblog-heading h3 {
	font-size: 20px;
	font-weight: 600;
	margin-top: 7px;
}

.letestblog-heading p {
	font-weight: 600;
	color: #adadad;
	margin-bottom: 35px;
}

.user-icon img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
} 

.user-icon {
	padding: 20px 20px;
}

.user-icon p {
	font-weight: 600;
	color: #adadad;
	margin-left: 10px;
	display: inline;
}

.user-icon2 {
	padding: 25px 20px;
	text-align: right;
}

.user-icon2 p {
	background-color: #2ecd71;
	display: inline;
	padding: 8px 15px;
	border-radius: 50%;
	color: #fff;
}

.blog-line {
	background-color: #2eca72;
	width: 50px;
	height: 3px;
	margin: 0 auto;
	margin-bottom: -2px;
}

.blog-bg {
	background-color: #2ecd71;
	color: #fff;
	padding: 50px 0;
	text-align: center;
	border-radius: 5px;
}

.video-img img {
	width: 100%;
}

.video-img {
	margin-top: 24px;
}

.blog-btn a {
	background-color: #2eca72;
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	font-size: 15px;
	margin: 0 auto;
	width: 150px;
	text-align: center;
}

.blog-btn {
	text-align: center;
	margin-top: 60px;
}

.newsletter-wrapper {
	background-image: url(../images/counter_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 330px;
	margin-top: 100px;
}

.news-img img {
	margin-top: -40px;
}

.message-section {
	text-align: center;
	margin-top: 100px;
}

.message-section h1 {
	color: #fff;
	font-weight: 600;
	font-size: 50px;
	text-transform: uppercase;
}

.message-section input {
	padding: 15px 20px;
	width: 420px;
	border-radius: 30px;
	border: 0;
	outline: none;
	font-weight: 600;
	margin-top: 13px;
}

.message-section button {
	background: #2ecd71;
	border: 0;
	padding: 15px 30px;
	margin-left: -100px;
	border-radius: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}

.partners-content {
	text-align: center;
}

.partners-content h2 {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 9px;
}

.partners-content p {
	margin-top: 20px;
	margin-bottom: 40px;
}

.partners-wrapper {
	margin: 70px 0;
}

.footer-wrapper{
	background-color: #1b1b1b;
	color: #fff;
}

.footer-wrapper {
	background-color: #1b1b1b;
	color: #fff;
	padding: 80px 0;
}

.aboutus-section h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 25px;
}

.aboutus-section ul li {
	background: red;
	list-style-type: none;
	display: inline-block;
	padding: 5px 15px;
	margin-lr: ;
	margin-right: 10px;
}

.aboutus-section ul {
	margin: 0;
	padding: 0;
	margin-top: 30px;
}

.usefull-section h3{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 25px;
}

.usefull-section ul {
	margin: 0;
	padding: 0;
	margin-top: 30px;
}

.usefull-section ul li {
	list-style-type: none;
	margin-bottom: 9px;
}

.blognews-section h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 25px;
}

.blognews-section ul {
	margin: 0;
	padding: 0;
}

.blognews-section ul li {
	list-style-type: none;
	display: inline-flex;
}

.blognews-section ul li img {
	border-radius: 5px;
	margin-right: 20px;
	height: 50px;
	width: 80px;
}

.galleryf-section h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 25px;
}

.galleryf-images {
	padding-bottom: 20px;
}

.gallery-four img:hover {
	transform: scale(1.1,1.1);
	transition: transform 1s;
}

.letestblog-image:hover {
	transform: scaleY(1.1);
}